uri-template==1.3.0
google-auth-httplib2==0.3.0
opencv-python==4.13.0.92
Send2Trash==2.1.0
pydantic_core==2.41.5
urllib3==2.6.3
ipywidgets==8.1.8
termcolor==3.1.0
click==8.1.8
httplib2==0.31.2
colorlog==6.10.1
PyYAML==6.0.3
jupyter_client==8.6.3
jupyter-console==6.6.3
google-ai-generativelanguage==0.6.15
pillow==11.3.0
pexpect==4.9.0
beautifulsoup4==4.14.3
jsonschema==4.25.1
wandb==0.25.0
webcolors==24.11.1
wcwidth==0.2.13
exceptiongroup==1.3.0
GitPython==3.1.46
debugpy==1.8.16
scipy==1.13.1
filelock==3.19.1
backcall==0.2.0
h11==0.16.0
accelerate==1.10.1
pytz==2025.2
SQLAlchemy==2.0.48
referencing==0.36.2
comm==0.2.1
safetensors==0.7.0
colorama==0.4.6
importlib_metadata==8.5.0
nvidia-cusparse-cu11==11.7.5.86
nbclient==0.10.2
pydantic==2.12.5
nvidia-cufft-cu11==10.9.0.58
nltk==3.9.2
torchvision==0.20.0+cu118
torch==2.5.0+cu118
contourpy==1.3.0
nvidia-cuda-runtime-cu11==11.8.89
platformdirs==4.3.7
pyparsing==3.3.2
nvidia-cublas-cu11==11.11.3.6
pandas==2.3.3
bleach==6.2.0
tqdm==4.67.1
tqdm==4.67.3
tzdata==2025.3
importlib_resources==6.5.2
wrapt==2.1.2
docstring_parser==0.17.0
grpcio==1.78.0
executing==2.2.1
optuna==4.7.0
nvidia-curand-cu11==10.3.0.86
tornado==6.5.1
huggingface_hub==0.36.2
optuna-integration==4.8.0
notebook==7.5.5
joblib==1.5.3
simsimd==6.5.15
jupyter-events==0.12.0
smart_open==7.5.0
proto-plus==1.27.1
jsonschema-specifications==2025.9.1
hf-xet==1.4.3
setuptools==80.9.0
annotated-types==0.7.0
uritemplate==4.2.0
albucore==0.0.24
jupyter_server_terminals==0.5.4
pycparser==2.23
google-api-core==2.30.0
nest-asyncio==1.6.0
asttokens==3.0.0
pip==25.3
adversarial-robustness-toolbox==1.20.1
jupyter==1.1.1
peft==0.17.1
smmap==5.0.2
idna==3.11
tabulate==0.9.0
typing_extensions==4.15.0
ray==2.51.2
httpcore==1.0.9
parso==0.8.4
MarkupSafe==2.1.5
tomli==2.4.0
jupyterlab==4.5.6
jupyter-lsp==2.3.0
timm==1.0.26
websockets==15.0.1
pdfminer.six==20251107
packaging==25.0
rfc3987-syntax==1.1.0
cryptography==46.0.5
tokenizers==0.22.2
psutil==7.0.0
defusedxml==0.7.1
zipp==3.21.0
kiwisolver==1.4.7
webencodings==0.5.1
distro==1.9.0
triton==3.1.0
wheel==0.45.1
websocket-client==1.9.0
greenlet==3.2.5
charset-normalizer==3.4.5
typing-inspection==0.4.2
sympy==1.13.1
rpds-py==0.27.1
networkx==3.2.1
certifi==2026.2.25
pandocfilters==1.5.1
jedi==0.19.2
langdetect==1.0.9
google-genai==1.47.0
json5==0.13.0
pyarrow==21.0.0
jupyter_core==5.8.1
tensorboardX==2.6.4
jupyterlab_pygments==0.3.0
gitdb==4.0.12
tinycss2==1.4.0
overrides==7.7.0
jupyterlab_server==2.28.0
lark==1.3.1
nvidia-cuda-cupti-cu11==11.8.87
scikit-learn==1.6.1
jupyterlab_widgets==3.0.16
fonttools==4.60.2
iopath==0.1.10
matplotlib-inline==0.1.7
traitlets==5.14.3
soupsieve==2.8.3
argon2-cffi-bindings==25.1.0
grpcio-status==1.71.2
rfc3986-validator==0.1.1
async-lru==2.0.5
transformers==4.57.6
terminado==0.18.1
ipython==8.15.0
cycler==0.12.1
jupyter_server==2.17.0
nbconvert==7.17.0
httpx==0.28.1
alembic==1.16.5
notebook_shim==0.2.4
cffi==2.0.0
Jinja2==3.1.6
regex==2026.1.15
anyio==4.12.1
msgpack==1.1.2
numpy==2.0.2
albumentations==2.0.8
python-dateutil==2.9.0.post0
arrow==1.4.0
decorator==5.2.1
ptyprocess==0.7.0
matplotlib==3.9.4
stack_data==0.6.3
google-auth==2.49.1
yacs==0.1.8
fsspec==2025.10.0
gensim==4.4.0
widgetsnbextension==4.0.15
nvidia-cuda-nvrtc-cu11==11.8.89
babel==2.18.0
nvidia-cusolver-cu11==11.4.1.48
eval_type_backport==0.3.1
requests==2.32.5
Pygments==2.19.1
stringzilla==4.6.0
googleapis-common-protos==1.73.0
rfc3339-validator==0.1.4
jiter==0.13.0
sniffio==1.3.1
nvidia-cudnn-cu11==9.1.0.70
nvidia-nccl-cu11==2.21.5
tenacity==9.1.2
mistune==3.2.0
fastjsonschema==2.21.2
pyasn1_modules==0.4.2
nbformat==5.10.4
attrs==25.4.0
ipykernel==6.30.1
nvidia-nvtx-cu11==11.8.86
google-api-python-client==2.193.0
jsonpointer==3.0.0
opencv-python-headless==4.13.0.92
pure_eval==0.2.3
sentry-sdk==2.54.0
python-json-logger==4.0.0
anthropic==0.86.0
portalocker==3.2.0
threadpoolctl==3.6.0
prompt_toolkit==3.0.52
six==1.17.0
fvcore==0.1.5.post20221221
prometheus_client==0.24.1
argon2-cffi==25.1.0
Mako==1.3.10
fqdn==1.5.1
protobuf==5.29.6
pyzmq==27.1.0
pyasn1==0.6.3
isoduration==20.11.0
wordcloud==1.9.6
pickleshare==0.7.5
torchaudio==2.5.0+cu118
mpmath==1.3.0
platformdirs==4.2.2
tomli==2.0.1
importlib_metadata==8.0.0
backports.tarfile==1.2.0
autocommand==2.2.2
typeguard==4.3.0
inflect==7.3.1
more-itertools==10.3.0
wheel==0.45.1
packaging==24.2
jaraco.collections==5.1.0
jaraco.functools==4.0.1
zipp==3.19.2
jaraco.text==3.12.1
typing_extensions==4.12.2
jaraco.context==5.3.0
